@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
  background-image: url(../sample3/glup.png);
  background-repeat: repeat-y;
}

h1 {
  font-family: "Noto Sans";
  font-size: 60px;
  margin-top: 70px;
  margin-bottom: 50px;
  color: aliceblue;
}

.gallery {
  columns: 3;
  padding: 0 50px;
}

.item-content a {
  text-decoration: none;
}

.item-content span {
  padding-top: 10px;
  color: black;
  font-family: "Noto Sans";
  color: aliceblue;
}

.gallery li {
  margin-bottom: 58px;
  list-style: none;
}

.gallery img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  margin-bottom: 10px;
}

@media only screen and (max-width: 900px) {
  .gallery {
    columns: 3;
  }
}

@media only screen and (max-width: 768px) {
  .gallery {
    columns: 2;
  }
}

footer {
  color: aliceblue;
  margin-bottom: 60px;
  font-family: "Noto Sans CJK JP";
  font-size: 16px;
}

.flipLeft{
  animation-name: flipLeft;
  animation-duration:1s;
  animation-fill-mode:forwards;
  perspective-origin: left center;
  opacity: 0;
  }
  
  @keyframes flipLeft{
    from {
     transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
    opacity: 0;
    }
  
    to {
    transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
    opacity: 1;
    }
  }