@charset "UTF-8";

body {
  background-image: url(../sample2/glup\ 41.png);
  background-size: contain;
  background-repeat: repeat-y;
}

.top2 {
  border-bottom: 4px solid;
  width: 1640px;
  margin: 0 140px 0 140px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.form {
  font-size: 30px;
  font-family: "源ノ角ゴシック";
  margin: 30px 0 0 0;
  color: aliceblue;
  letter-spacing: 3.5px;
}

.form2 {
  font-size: 15px;
  font-family: "源ノ角ゴシック";
  margin: 52px 0 0 0;
  color: aliceblue;
  letter-spacing: 1px;
}

.contact {
  margin: 0 544px 215px 556px;
}

.daimei4 {
  border-left: 4px solid #5FADBC;
}

.daimei2 {
  font-size: 25px;
  font-family: "Noto Sans";
  margin-top: 94px;
  margin-left: 12px;
  color: aliceblue;
  letter-spacing: 1px;
  font-weight: bolder;
}

.important {
  border-left:4px solid #5FADBC;
  margin-top: 60px;
  font-size: 20px;
  color: aliceblue;
  font-family: "Noto Sans";
}

.important li {
  margin-bottom: 60px;
  margin-left: 40px;
}

#name {
  border-bottom: 3px solid;
  border-color: #5FADBC;
  color: aliceblue;
}

.daimei3 {
  font-family: "Noto Sans";
  font-size: 20px;
  margin-top: 81px;
}

.Inquiry-summary2 {
  border-style: none;
  font-size: 16px;
  font-family: "游明朝";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  line-height: 50px;
  background-image: url(./data/phot.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: calc(100% - 16px) 50%;
  margin-top: 34px;
  color: aliceblue;
}

option {
  background-color: #646464;
}

.daimei {
  font-family: "Noto Sans";
  font-size: 20px;
  margin-top: 63.5px;
}

#text {
  font-size: 16px;
  width: 100%;
  font-family: "游明朝";
  line-height: 50px;
  color: aliceblue;
}

::placeholder {
  color: aliceblue;
}

.email {
  margin-top: 34px;
  font-size: 16px;
  width: 100%;
  font-family: "游明朝";
  line-height: 50px;
}

.Inquiry-Details {
  margin-top: 67.5px;
}

.daimei {
  color: aliceblue;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

textarea {
  width: 832px;
  height: 373px;
}

.Inquiry-Details ::placeholder {
  padding-top: 22px;
  padding-left: 12px;
}

.textarea {
  color: aliceblue;
  border: 3px solid #5FADBC;
}

.tyuuiten {
  margin-top: 47px;
  font-family: "Noto Sans";
  font-size: 16px;
  color: aliceblue;
}

input[type=checkbox] {
  transform: scale(2);
  margin-right: 20px;
  margin-left: 5px;
}

.sousin {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 106px;
  background-color: #5FADBC;
  height: 64px;
  width: 832px;
}

.sousin2 {
  font-family: "Noto Sans";
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 2.5px;
}

.yoshiharu {
  text-align: center;
  font-size: 16px;
  font-family: "Noto Sans CJK JP";
  margin-bottom: 60px;
  color: aliceblue;
}